/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/* TIPOGRAPHY */

/* UTILITY */

/* FLEX */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


/* LAYOUT */

header {
    background-image: url(../img/wall.png);
    height: 80px;
    text-align: center;
}

h1 {
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 3rem;
}

.container {
    width: 90%;
    margin: 0 auto;

    /* debug */
    background-color: red;
}