/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/* TIPOGRAPHY */

/* UTILITY */
.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.py-10 {
    padding: 10px 10px;
}

/* FLEX */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

/* LAYOUT */
header {
    background-image: url(../img/wall.png);
    background-size: cover;
    height: 80px;
    text-align: center;
}

h1 {
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 3rem;
}

body {
    background-image: url(../img/cork.png);
    background-size: cover;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.col {
    width: 100%
}

.card {
    background-color: white;
    position: relative;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.6);
}

.card:hover {
    transform: scale(1.2) rotate(16deg);
    z-index: 9999;
}

.card:hover .pin {
    display: none;
}


.pin {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.date-photo {
    font-family: "Sometype Mono", monospace;
    color: #767B89;
    font-weight: 400;
}

.title-photo {
    font-family: "Edu TAS Beginner", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
}