/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/* TIPOGRAPHY */

/* UTILITY */
.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.py-10 {
    padding: 10px 10px;
}

/* FLEX */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

/* LAYOUT */
header {
    background-image: url(../img/wall.png);
    background-size: cover;
    height: 80px;
    text-align: center;
}

h1 {
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 3rem;
}

body {
    background-image: url(../img/cork.png);
    background-size: cover;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.col {
    width: 100%
}

.card {
    background-color: white;
    position: relative;
}

.pin {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}